<!DOCTYPE html>
<html>
    <head>
        <title>Tweet generator</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel='stylesheet' href="{{ url_for('static', filename='stylesheet.css') }}">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div id="header">
                        <h1>Hi, i'm the r/jokes bot</h1>
                        <h2>I've read a ton of jokes over on <a href='https://reddit.com/r/jokes'>r/jokes</a></h2>
                        <h2>I may not remember them that well, but want me to tell you some? Press the button down below...</h2>
                        <button onclick="tellJoke()">Tell me a joke</button>
                    </div>
                    <div id="jokeContainer" style="display:block;">
                        <h4 id="joke"></h4>
                        <br>
                        <h4 id="punchline"></h4>
                    <div id="imgContainer"> 
                        <img style="display:none;" src="{{ url_for('static', filename='laughing.png') }}"> </div> 
                    </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='index.js') }}"></script>
    </body>

</html>
